/*base style*/

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*base reset*/

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style-type: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

/*Navigation*/
.head {
  border-bottom: 1px solid #e7e9fc;
}
.head-cont {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}

.logo .header-logo-part {
  color: #2e2f42;
}
.nav-cont {
  display: flex;
  flex-direction: row;
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-item {
}
.nav-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.nav-link:hover,
.nav-link:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

/*Address*/

.contact-adress {
  font-style: normal;
  margin-left: auto;
}
.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address-item {
}

.contacts-link {
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/*Main*/

/*Hero*/

.hero-section {
  background-color: #2e2f42;
}
.hero-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  width: 526px;
  padding-bottom: 48px;
  padding-top: 188px;
  margin: 0 auto;
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border: 0;
  border-radius: 4px;
  padding: 16px 32px;
  margin-bottom: 188px;
}
.hero-btn:hover {
  background: #404bbf;
}

/*Advantages*/
.advantages-section {
}
.advantages-title-hide {
}
.advantages-list {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 120px 0 120px 0;
}
.advantages-item {
}
.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 8px;
}
.advantages-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*team*/

.team-section {
  background-color: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-top: 120px;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  align-items: center;
  padding-bottom: 120px;
  gap: 24px;
}
.team-item {
  max-width: 264px;
  background-color: #ffffff;
}
.team-img {
  padding-bottom: 32px;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 8px;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  padding-bottom: 32px;
}

/*Portfolio*/

.portfolio-section {
}
.portfolio-title-main {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-top: 120px;
}
.portfolio-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  padding-bottom: 120px;
}
.portfolio-item {
  overflow: hidden;
  width: calc((100% - 48px) / 3);
  border: 1px solid #e7e9fc;
}

.portfolio-img {
  padding-bottom: 32px;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 8px;
  padding-left: 16px;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-bottom: 32px;
  padding-left: 16px;
}

/*Footer*/
.page-footer {
  background-color: #2e2f42;
}
.footer-logo {
  display: block;
  padding-top: 100px;
  padding-bottom: 16px;
}
.logo .footer-logo-part {
  color: #f4f4fd;
}
.footer-text {
  max-width: 264px;
  padding-bottom: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
